@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto:400,700');
@import './variables';

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header {
  background-image: url('./drone.jpg');
  background-size: cover;
  background-position: center center;
  padding: $spacing*3 0 $spacing;
  margin-bottom: $spacing;

  h1 {
    font-weight: normal;
    padding: $spacing/2 $spacing;
    @include env-padding($spacing);
  }
}

body {
  background-color: #111;
  color: white;
}

code {
  font-family: 'dm', monospace;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  background-color: rgba(33, 150, 243, 0.8);

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  margin-bottom: $spacing;
}

footer {
  padding: $spacing;
  @include env-padding($spacing);
}

a {
  color: $blue;
}

main {
  background-color: $red;
  padding: $spacing;
  @include env-padding($spacing);

  div.console {
    background-color: #111;
    color:            #ddd;
    padding:          $spacing;
    border-radius:    5px;

    div.item {
      display: none;
    }

    pre {
      font-family: 'dm', monospace;
      white-space: pre-wrap;
    }

    pre.output {
      opacity: 0;
    }

    pre.output {
      span.error {
        color: $red;
      }
    }
  }
}
