@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto:400,700');
@import './variables';

* {
  padding:    0;
  margin:     0;
  box-sizing: border-box;
  outline:    none;
}

html, body {
  font-family:              'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust:    100%;
  -ms-text-size-adjust:     100%;
  text-size-adjust:         100%;
}

html {
  background-color: #111;
  height:           100%;
}

body {
  color: #fff;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-bottom: $spacing;
}

header {
  background-color: rgba(33, 150, 243, 0.8);
  bottom:           50px;
  padding:          calc(#{$spacing} / 2);
  position:         absolute;
  width:            100%;

  @include env-padding($spacing);

  h1 {
    font-family:   'Reenie Beanie', sans-serif;
    font-style:    italic;
    font-size:     4em;
    font-weight:   normal;
    margin-bottom: 0;
  }
}

section.hero {
  background-image:    url(./bg1.jpg);
  background-size:     cover;
  background-position: center center;
  height:              calc(var(--computed-vh, 1vh) * 100);
  position:            relative;

  nav {
    font-weight: bold;
    font-size:   0.8em;
    text-align:  right;

    ul {
      background-color:          rgba(0, 0, 0, 0.6);
      border-bottom-left-radius: 5px;
      display:                   inline-block;
      list-style:                none;
      margin:                    0;
      padding:                   8px 14px;

      @supports (padding: m#{a}x(0px)) {
        padding-right: m#{a}x(14px, env(safe-area-inset-right, 14px))
      }

      a {
        color:           #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      li {
        display:     inline-block;
        margin-left: 12px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


div.slide {
  background-size:     cover;
  background-position: center;
  background-repeat:   no-repeat;

  bottom:              0;
  left:                0;
  position:            fixed;
  right:               0;
  top:                 0;

  opacity:             0;
  z-index:             -1;

  &.active {
    opacity: 1;
  }
}

a {
  color: #fff;
}

div.languages {
  section.language {
    background-color:      #111;
    display:               grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow:        dense;
    grid-gap:              $spacing;
    padding:               $spacing;
    margin-top:            $spacing;
    overflow:              hidden;

    @include env-padding($spacing);

    @media (max-width: 723px) {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.javascript {
      background-color: $blue;
    }

    &.go {
      background-color: $red;
    }

    &.swift {
      background-color: $purple;
    }

    &.perl {
      background-color: $green;
    }

    &.databases {
      background-color: $orange;
    }

    &.containers {
      background-color: $steel;
    }

    &.shown {
      div.details {
        opacity:   1;
        transform: none;
      }

      div.code-container {
        transform: none;
        opacity:   1;
      }
    }
  }

  & > *:nth-child(even) pre.code {
    grid-column-start: 1;
  }

  & > *:nth-child(even) div.code-container {
    transform: translateX(-200px);
  }

  & > *:nth-child(even) div.details {
    transform: translateX(200px);
  }

  & > *:nth-child(even) div.details {
    grid-column-start: 2;
  }
}

div.code-container {
  align-self: start;
  opacity:    0;
  overflow:   hidden;
  position:   relative;
  transform:  translateX(200px);
  transition: all 400ms;

  a {
    display:  block;
    position: absolute;
    bottom:   10px;
    right:    10px;
    color:    rgba(255, 255, 255, 0.7);
  }

  span.view-source {
    display: none;
  }

  pre {
    overflow:         hidden;
    background-color: #111;
    color:            white;
    font-family:      'dm', monospace;
    font-size:        16px;
    padding:          10px;
    border-radius:    5px;
    -moz-tab-size:    4;
    tab-size:         4;

    @media (min-width: 1001px) and (max-width: 1200px) {
      font-size: 14px;
    }

    @media (min-width: 925px) and (max-width: 1000px) {
      font-size: 12px;
    }

    @media (min-width: 835px) and (max-width: 924px) {
      font-size: 11px;
    }

    @media (max-width: 834px) {
      font-size: 9px;
    }

    @media (min-width: 501px) and (max-width: 723px) {
      font-size: 12px;
    }
  }
}

code {
  font-family: 'dm', monospace;
}

div.details {
  align-self: start;
  color:      white;
  opacity:    0;
  transition: all 400ms;
  transform:  translateX(-200px);

  h2 {
    font-size: 1.4em;
    display:   inline-block;
  }
}

ul {
  margin-left: 50px;
}

footer {
  min-height: 150px;
  padding:    $spacing;
  position:   relative;

  @include env-padding($spacing);

  p.version {
    position: absolute;
    margin:   0;
    bottom:   $spacing;
    right:    $spacing;
    color:    rgba(white, 0.2);

    @supports (right: m#{a}x(0px)) {
      right: m#{a}x($spacing, env(safe-area-inset-right, $spacing));
    }
  }
}

.chevron {
  color:     $blue;
  font-size: 40px;
  position:  absolute;
  bottom:    0;
  left:      50%;
  transform: translateX(-50%);
  animation: pulse infinite 3s;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
