name: Continuous Deployment
on:
  push:
    branches: [master]
    tags: ['v*']
env:
  IMAGE: ghcr.io/weters/tompeters-site
jobs:
  'continuous-deployment':
    name: 'Continuous Deployment'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Fetch Tags
      run: git fetch --tags

    - name: Set Version
      run: echo "VERSION=$(git describe --always)" >> $GITHUB_ENV

    - name: Docker Log In
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Docker Build
      run: |
        docker build \
          --build-arg version=$VERSION \
          -t $IMAGE:$VERSION \
          .
        docker tag $IMAGE:$VERSION $IMAGE:latest

    - name: Docker Push
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        docker push $IMAGE:$VERSION
        docker push $IMAGE:latest

    - name: Kubernetes Deploy
      if: startsWith(github.ref, 'refs/tags/v')
      uses: actions-hub/kubectl@master
      env:
        KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      with:
        args: set image deploy tompeters-site tompeters-site=${{ env.IMAGE }}:${{ env.VERSION }} --record

    - name: Kubernetes Rollout Status
      if: startsWith(github.ref, 'refs/tags/v')
      uses: actions-hub/kubectl@master
      env:
        KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      with:
        args: rollout status deploy tompeters-site
